@model List<DataLayer.Entities.Directory>

@{
	ViewData["Title"] = "Home";
}

<div>
	<ul>
		@foreach(var item in Model)
		{
			<li>
				<h2>@item.Title</h2>
				<ul>
					@if(item.Materials!=null)
					foreach(var subItem in item.Materials)
					{
						<li>@subItem.Title</li>
					}
				</ul>
			</li>
		}

	</ul>
</div>